@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  /* --font-serif: "Playfair Display", serif; */
  --font-sans: "Montserrat Variable", sans-serif;
  --font-serif: "Lora Variable", serif;

  --color-background: #0a0a0a;
  --color-foreground: #fafafa;

  --color-card: #171717;
  --color-card-foreground: #f2f2f2;

  --color-primary: #cccccc;
  --color-primary-foreground: #000000;

  --color-secondary: #03dacf;
  --color-secondary-foreground: #000000;

  --color-border: #575757;

  --color-text: #fafafa;
  --color-text-muted: #a3a3a3;
}

:root {
  font-family: var(--font-sans);
}
