networks:
  websites:
    external: true

services:
  pulpo-cloud:
    image: ghcr.io/tobiasbenkner/pulpo-cloud:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.pulpo-cloud.rule=Host(`pulpo.cloud`) || Host(`www.pulpo.cloud`)
      - traefik.http.routers.pulpo-cloud.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  beckernet:
    image: ghcr.io/tobiasbenkner/beckernet:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.beckernet.rule=Host(`beckernet.es`) || Host(`www.beckernet.es`)
      - traefik.http.routers.beckernet.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  beckernet-seguros:
    image: ghcr.io/tobiasbenkner/beckernet-seguros:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.beckernet-seguros.rule=Host(`seguros.beckernet.es`)
      - traefik.http.routers.beckernet-seguros.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  holacanterasclub:
    image: ghcr.io/tobiasbenkner/holacanterasclub:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.holacanterasclub.rule=Host(`holacanterasclub.com`) || Host(`www.holacanterasclub.com`)
      - traefik.http.routers.holacanterasclub.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  lumera:
    image: ghcr.io/tobiasbenkner/lumera:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.lumera.rule=Host(`lumera.benkner-it.com`)
      - traefik.http.routers.lumera.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  vibradanceacademy:
    image: ghcr.io/tobiasbenkner/vibradanceacademy:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.vibradanceacademy.rule=Host(`hektorysara.com`) || Host(`www.hektorysara.com`)
      - traefik.http.routers.vibradanceacademy.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  benkner-it:
    image: ghcr.io/tobiasbenkner/benkner-it:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.benkner-it.rule=Host(`benkner-it.com`) || Host(`www.benkner-it.com`)
      - traefik.http.routers.benkner-it.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  elbuhotuerto:
    image: ghcr.io/tobiasbenkner/elbuhotuerto:latest
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.elbuhotuerto.rule=Host(`elbuhotuerto.com`) || Host(`www.elbuhotuerto.com`)
      - traefik.http.routers.elbuhotuerto.tls.certresolver=le
      - com.centurylinklabs.watchtower.enable=true
    networks:
      - websites

  
