---
import "../styles/global.css";
import { Image } from "astro:assets";
import faviconSrc from "../assets/favicon.png";

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#0d0d15" />
    <!-- Nutzung von .src für den optimierten Pfad -->
    <link rel="icon" type="image/png" href={faviconSrc.src} />


    <title>{title}</title>

    <script
      defer
      src="https://analytics.pulpo.cloud/script.js"
      data-website-id="958cf32c-6440-45a8-b083-f18cacbbfcb5"></script>
  </head>
  <body class="antialiased selection:bg-vibra-pink selection:text-white">
    <slot />
  </body>
</html>
