---
import CategoryCard from "./CategoryCard.astro";
import CategoryNav from "./CategoryNav.astro";
import { getCategoriesWithProducts } from "@/lib/directus";
import { resolveTranslations } from "@/lib/i18n";

type Props = {
  lang: string;
};

const { lang } = Astro.props;

const response = await getCategoriesWithProducts();
const categories = resolveTranslations(response, lang);
---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
<CategoryNav categories={categories} />

<div class="space-y-24">
    {
      categories.map((category) => {
        return <CategoryCard category={category} />;
      })
    }
  </div>
</div>
