---
import type { MenuTranslations } from "./menu.i18n";
import type { Language } from "../../lib/i18n";
import FoodMenu from "../../components/menu/FoodMenu.astro";

interface Props {
  lang: Language;
  t: MenuTranslations;
}

const { lang } = Astro.props;
---

<section class="bg-background min-h-screen pb-16">  
  <FoodMenu lang={lang} />
</section>
